@model IEnumerable<TheWitcher.Data.Models.Ekwipunek>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nazwa</td>
                <td>@item.Typ</td>
                <td>
                    <a asp-action="Edit" asp-controller="Ekwipunek" asp-route-id="@item.Id" asp-route-postacId="@item.PostacId">Edytuj</a> |
                    <a asp-action="Delete" asp-controller="Ekwipunek" asp-route-id="@item.Id" asp-route-postacId="@item.PostacId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
